body{
    background-color: rgb(69, 224, 204);
}

.quadrado{
    background-color: rgb(83, 197, 188);
    justify-content: center;
    position: absolute;
    width: 550px;
    height: 180px;
    top: 100px;
    left: 400px;
    border-radius: 20px;

}


.formulario-despesas{
    justify-content: center;
    position: absolute;
    top: 100px;
    left: 450px;


}

.formulario-despesas, .total-despesas { 
max-width: 400px; 
margin: 0 auto; 

}

.item-despesa{
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;

}